html,body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden!important;
}

#clouds {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 10vh;
  font-size: 3.385vw;
  font-weight: lighter;
}

h2 {
  color: #e8e8e8;
  text-align: center;
  margin-top: 2vh;
  font-size: 1.823vw;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #232323;
  position: relative;
  z-index: 100;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 2.604vw;
  left: 2.604vw;
  z-index: 101;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  z-index: 102;
  width: 2.083vw;
  height: 1.667vw;
  position: absolute;
  top: -0.365vw;
  left: -0.260vw;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  padding: 0;
  width: 1.719vw;
  height: 0.208vw;
  margin-bottom: 0.260vw;
  position: relative;
  background: #cdcdcd;
  border-radius: 0.156vw;
  z-index: -10;
  transform-origin: 0.208vw 0vw;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-0.104vw, -0.052vw);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -0.052vw);
}

#menu {
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 15.625vw;
  margin: -5.208vw 0 0 -2.604vw;
  padding: 2.083vw;
  opacity: 0.4;
  padding-top: 6.510vw;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  font-weight: bold;
}

#menu li {
  padding: 0.260vw;
  font-size: 1.146vw;
  position: relative;
  z-index: 101;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

nav {
  position: relative;
  display: inline-block;
  z-index: 100000;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 0.833vw 1.667vw;
  text-align: center;
  font-size: 0.833vw;
  margin: 0.208vw 0.104vw;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0.104vw solid #000;
  border-radius: 2.083vw;
  outline: none;
}

.button:hover {
  opacity: 1;
}

.footer {
  margin-top: auto;
}

.content {
  padding: 15vh;
}

.column {
  float: left;
  width: 49%;
  padding: 0.260vw;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}
.box {
  transition: all 1s linear;
  display: block;
  transform: translateY(2.350vw);
  background-color: rgba(0,0,0,.5);
}

.hidden {
transform: translateY(26.042vw);
  background-color: rgba(0,0,0,0);
}

