html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden!important;
}

#clouds {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.vanta-canvas {
  display: block;
  z-index: -1000000!important;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  font-size: 3.385vw;
  font-weight: lighter;
}

h2 {
  color: #e8e8e8;
  text-align: center;
  font-size: 1.823vw;
  margin-top: 0;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #232323;
  position: relative;
  z-index: 100;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 0.833vw 1.667vw;
  text-align: center;
  font-size: 0.833vw;
  margin: 0.208vw 0.104vw;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0.104vw solid #000;
  border-radius: 2.083vw;
  outline: none;
}

.button:hover {
  opacity: 1;
}

.footer {
  margin-top: auto;
}

.content {
  padding: 15vh;
  display: block;
  z-index: 0;
}

.column {
  float: left;
  width: 32%;
  padding: 0.260vw;
}


/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}

.box {
  transition: all 1s linear;
  display: block;
  transform: translateY(3.5vw);
  background-color: rgba(0, 0, 0, .5);
}

.hidden {
  transform: translateY(26.042vw);
  background-color: rgba(0, 0, 0, 0);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham3 .top {
  stroke-dasharray: 40 130;
}

.ham3 .middle {
  stroke-dasharray: 40 140;
}

.ham3 .bottom {
  stroke-dasharray: 40 205;
}

.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.ham3.active .middle {
  stroke-dashoffset: -102px;
}

.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.outermenu {
  display: none;
}

@keyframes myfirst {
  0%   {left:-200px; top:0;}
  25%  {left:-150px; top:0;}
  50%  {left:-100px; top:0;}
  75%  {left:-50px; top:0;}
  100% {left:0px; top:0;}
}

.menushow {
  position: relative;
  display: inline-block;
  z-index: -1;
  width: 10vw;
  opacity: 0.4;
  background: #ededed;
  list-style-type: none;
  float: left;
  z-index: -10;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  animation: myfirst .3s linear;
}

li {
  font-size: 1.146vw;
  position: relative;
  z-index: 101000;
  display: block;
}